
page-home {
    background: #ff6862;

    .toggleButton {
        height: 20%;
        margin: auto;
        margin-top: 85%;
        cursor: pointer;
        text-align: center;

        img {
            max-width: 40%;
        }

    }


}

