
page-home {
    background: #ff6862;

    .toggleButton.on {
      background-image: url(./assets/imgs/power.png);
    }


    .toggleButton.off {
        background-image: url(./assets/imgs/power2.png);
    }


    .toggleButton {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 20%;
        margin: auto;
        margin-top: 90%;
        cursor: pointer;
    }


}

